<div class="container">
  <div class="icon">
    <div class="nav">
      <app-nav-bar></app-nav-bar>
    </div>
    <svg id="mouse-icon" width="50" height="80" viewBox="0 0 50 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M45 55C45 60.3043 42.8929 65.3914 39.1421 69.1421C35.3914 72.8929 30.3043 75 25 75C19.6957 75 14.6086 72.8929 10.8579 69.1421C7.10714 65.3914 5 60.3043 5 55V25C5 19.6957 7.10714 14.6086 10.8579 10.8579C14.6086 7.10714 19.6957 5 25 5C30.3043 5 35.3914 7.10714 39.1421 10.8579C42.8929 14.6086 45 19.6957 45 25V55ZM25 0C18.3696 0 12.0107 2.63392 7.32233 7.32233C2.63392 12.0107 0 18.3696 0 25V55C0 61.6304 2.63392 67.9893 7.32233 72.6777C12.0107 77.3661 18.3696 80 25 80C31.6304 80 37.9893 77.3661 42.6777 72.6777C47.3661 67.9893 50 61.6304 50 55V25C50 18.3696 47.3661 12.0107 42.6777 7.32233C37.9893 2.63392 31.6304 0 25 0Z"
        fill="#FFF1EC" />
      <path
        d="M29 18C29 20.2091 27.2091 22 25 22C22.7909 22 21 20.2091 21 18C21 15.7909 22.7909 14 25 14C27.2091 14 29 15.7909 29 18Z" />
    </svg>
  </div>
  <section class="content">
    <div class="h1">
      <span class="title">Abstract</span>
    </div>
  </section>
  <section class="content">
    <div class="content-text dark">
      <span class="abstract-text">
        Of the many dimensions of the universal issue of resource distribution,
        one – the allocation of healthcare resources,
        particularly those for mental healthcare – stands out.
      </span>
    </div>
  </section>
  <section class="content">
    <div class="content-text">
      <span class="abstract-text">
        In Kenya, mental healthcare falls low on the government’s list of priorities meaning that mental healthcare
        services are especially poor. This is a cause for concern, especially due to the fact that neighborhood
        deprivation is linked with the prevalence of mental illness.
      </span>
    </div>
  </section>
  <section class="content">
    <div class="content-text dark">
      <span class="abstract-text">
        The Goal for this research was to create a deprivation index that measures socio-economic
        disadvantage in different counties in Kenya and compile a dataset consisting of mental
        health resources within each region in order to assess the distribution.
      </span>
      <div class="button-wrapper">
        <button id="go" class="btn">GO TO MAP</button>
      </div>
    </div>
  </section>
</div>
