.nav-bar {
    display: flex;
    height: 2em;
    background-color: transparent;
    justify-content: space-between;
    width: 17em;
    font-size: 1em;
    font-weight: 400px;
    color: #FFF1EC;
    font-family: 'Poppins';
}